.eventos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.eventos-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.eventos-col img{
    width: 100%;
    border-radius: 10px;
}
.eventos-col p{
    padding: 0;
}
.eventos-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}